<%= content_for(:title, "Home") %>

<div class="space-y-12 <%= horizontal_padding %>">
  <h1 class="font-bold text-5xl">Dashboard</h1>
  <div class="space-y-2">
    <h1 class="text-graphite font-semibold text-3xl">Graphite</h1>
    <h1 class="text-ivory font-semibold text-3xl">Ivory</h1>
    <h1 class="text-stone font-semibold text-3xl">Stone</h1>
    <h1 class="text-coral font-semibold text-3xl">Coral</h1>
    <h1 class="text-fern font-semibold text-3xl">Fern</h1>
    <h1 class="text-gold font-semibold text-3xl">Gold</h1>
    <h1 class="text-lightGraphite font-semibold text-3xl">Light Graphite</h1>
    <h1 class="text-darkStone font-semibold text-3xl">Dark Stone</h1>
    <h1 class="text-paleFern font-semibold text-3xl">Pale Fern</h1>
    <h1 class="text-paleCoral font-semibold text-3xl">Pale Coral</h1>
    <h1 class="text-paleGold font-semibold text-3xl">Pale Gold</h1>
    <h1 class="text-offWhite font-semibold text-3xl">Off White</h1>
  </div>
</div>

