<%= content_for(:title, "Home") %>

<% if current_user.admin? %>
<div class="sticky top-0 py-12 bg-gray-50 border-b border-black <%= horizontal_padding %> z-30">
  <div class="flex justify-between">
    <div class="text-5xl tracking-wide">Welcome to Ninjaboard</div>
  </div>
</div>

<div class="flex flex-wrap justify-center mt-10">
  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-graphite p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-white text-lg font-medium">Graphite</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-ivory p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Ivory</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-stone p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Stone</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-coral p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Coral</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-fern p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-white text-lg font-medium">Fern</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-gold p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Gold</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-lightGraphite p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-white text-lg font-medium">Light Graphite</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-darkStone p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-white text-lg font-medium">Dark Stone</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-paleFern p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Pale Fern</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-paleCoral p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Pale Coral</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-paleGold p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Pale Gold</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full bg-offWhite p-8 flex-col">
      <div class="flex items-center mb-3">
        <h2 class="text-dark text-lg font-medium">Off White</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-dark">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="p-8 lg:p-20" data-controller="tabs" data-tabs-default-tab-value="home">
  <div class="relative mt-10">
    <div class="relative flex flex-row items-center gap-4 w-full h-8 mx-auto text-black select-none" x-ref="tabButtons">
      <button id="home" data-tabs-target="btn" data-action="click->tabs#select" class="relative z-20 inline-flex items-center gap-2 w-auto text-sm py-3 px-6 font-medium cursor-pointer transition-all whitespace-nowrap">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 icon icon-tabler icon-tabler-components" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 12l3 3l3 -3l-3 -3z"></path>
          <path d="M15 12l3 3l3 -3l-3 -3z"></path>
          <path d="M9 6l3 3l3 -3l-3 -3z"></path>
          <path d="M9 18l3 3l3 -3l-3 -3z"></path>
        </svg>
        Home
      </button>

      <button id="certificates" data-tabs-target="btn" data-action="click->tabs#select" class="relative z-20 inline-flex items-center gap-2 w-auto text-sm py-3 px-6 font-medium cursor-pointer transition-all whitespace-nowrap">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 icon icon-tabler icon-tabler-components" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 12l3 3l3 -3l-3 -3z"></path>
          <path d="M15 12l3 3l3 -3l-3 -3z"></path>
          <path d="M9 6l3 3l3 -3l-3 -3z"></path>
          <path d="M9 18l3 3l3 -3l-3 -3z"></path>
        </svg>
        Certificates
      </button>
    
    </div>
    <div>
      <div data-tabs-target="tab" id="home">
        <%= render "home" %>
      </div>
      <div data-tabs-target="tab" id="certificates">
        <div
          class="grid grid-cols-1 md:grid-cols-2 p-8 lg:p-20 lg:grid-cols-2 gap-8 mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black [&amp;>*:nth-child(1)]:bg-red-400 [&amp;>*:nth-child(2)]:bg-green-400 [&amp;>*:nth-child(3)]:bg-violet-300 [&amp;>*:nth-child(4)]:bg-yellow-400"
        >
          <%= render partial: 'certificates/certificates', locals: { certificates: @certificates } %>
        </div>
      </div>
    </div>
  </div>
</div>
