<div id="courses">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
    <%- @courses.each do |course| %>
      <%= render "course", { course: course, user_started_courses: @user_started_courses, user_course_progresses: @user_course_progresses, user_unlocked_courses: @user_unlocked_courses } %>
    <% end %>
  </div>
</div>
