<%= content_for(:title, "Courses") %>

<section class="py-12 lg:py-28 bg-gray-100">
  <div class="container mx-auto px-4 xl:px-0">
    <div class="text-center space-y-4">
      <h1 class="max-w-lg mx-auto text-2xl lg:text-5xl font-black text-slate-800">Course catalogue</h1>
      <p class="max-w-xl mx-auto text-sm font-normal text-slate-500">These are the published courses available on the platform.</p>

      <!-- Breadcrumbs -->
      <div class="flex items-center justify-center gap-4">
        <ul class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50">
          <li class="leading-none text-dark">
            <%= link_to root_path, class: "inline-flex items-center text-orange-700" do %>
              <svg class="mr-2" width="15" height="15" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.1769 15.0588H10.3533V9.41178H5.64744V15.0588H2.82391V6.58825H1.88274V16H14.118V6.58825H13.1769V15.0588ZM6.58862 15.0588V10.353H9.41215V15.0588H6.58862ZM15.8084 6.09225L15.2512 6.85178L8.00038 1.52472L0.749559 6.8499L0.192383 6.09131L8.00038 0.357666L15.8084 6.09225Z"
                  fill="black"
                ></path>
              </svg>
              <span class="text-sm leading-none">Home</span>
            <% end %>
          </li>
          <li class="leading-none text-dark">
            <span class="text-sm leading-none">/ Courses</span>
          </li>
        </ul>
      </div>

    </div>
    <div class="flex flex-col lg:flex-row justify-between items-center gap-4 pt-20">
      <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-10 w-full">
        <span class="px-4 py-2 text-xs text-orange-700 hover:text-white border border-orange-700 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg">
          <%= pluralize @courses.count, "course" %>
        </span>
        <div class="relative w-full lg:w-auto">
          <i class="fas fa-search absolute top-4 right-4 text-primary text-lg"></i>
          <input type="email" class="h-12 text-slate-500 font-medium text-sm rounded-lg w-full lg:w-72 bg-white pl-3 pr-10 placeholder-gray-400 focus:outline-none" placeholder="Search your course">
        </div>
        <!--p class="text-slate-500 font-normal text-base">Showing 1 – 9 of 20</p-->
      </div>

      <div class="flex gap-4">
        <a href="#" class="bg-white hover:bg-primary px-4 py-2 rounded-md text-center text-primary hover:text-white text-xl transition-all duration-500"><i class="fas fa-list-ul"></i></a>
        <a href="#" class="bg-white hover:bg-primary px-4 py-2 rounded-md text-center text-primary hover:text-white text-xl transition-all duration-500"><i class="fas fa-grip-horizontal"></i></a>
      </div>
    </div>

    <%= render "courses" %>

    <div class="text-center mt-10">
      <!-- pagination -->
    </div>
  </div>
</section>
